.nav-bar{
    position: absolute;
    background-color: #353b48;
    height: 80px;
}

.logo{
    border: 0px;
    width: 10%;
    height: 60%;
    position: absolute;
    border-radius: 20px;
    left: 1% !important;
    background-color: white;
    margin-top: 15px !important;
}

.category{

    border: 0px;
    width: 50px;
    height: 60%;
    position: absolute;
    border-radius: 20px;
    right: 1% !important;
    background-color: white;
    margin-top: 15px !important;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: white;
    border-radius: 30px;
    padding: 5px;
}

.search_input{
    color: black;
    border: 0;
    outline: 0;
    text-align: center;
    padding-left: 40px;
    background: none;
    width: 300px;
    line-height: 40px;
    transition: width 0.1s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    padding-left: 40px;
    width: 450px;
    caret-color:black;
    transition: width 0.1s linear;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#353b48;
}